{{- if .HasShortcode "bookshelves" -}}

  {{- /* Resolve the plugin parameter values. */ -}}
  {{- if not (.Scratch.Get "plugin-bookshelves.Parameters") -}}
    {{- partial "plugin-bookshelves/load-parameters.html" . -}}
  {{- end -}}
  
  {{- with (.Scratch.Get "plugin-bookshelves.Parameters") -}}
  
  {{- if .Config.DebugPrint -}}
      {{- printf "\n<!--
  plugin-bookshelves.Parameters:\n%s\n-->" (jsonify .) | safeHTML -}}
    {{- end -}}
  
    {{- /* Insert the plugin version and build time */ -}}
    {{- $time := (time (sub now.Unix 28800)).Format "Jan 2 at 15:04" -}}
    {{- $version := .Config.Version -}}
    {{ printf "\n<!-- Bookshelves v%s (built on %s) -->\n" $version $time | safeHTML }}
    
    {{- $source_dir := "sass/plugin-bookshelves/" -}}
    {{- $template_name := "bookshelves.scss" -}}
    {{- $source := path.Join $source_dir $template_name -}}
    {{- $target := path.Join "assets"  -}}
    {{- $style := resources.Get $source | resources.ExecuteAsTemplate $target $ -}} 
  
    {{- $target = $target | replaceRE "sass|scss" "css" -}}
    {{- $options := dict "targetPath" $target "outputStyle" .Config.SassOutput -}}
    {{- $style = $style | toCSS $options -}}
  
    {{- if .Config.Fingerprint }}{{ $style = $style | fingerprint }}{{ end -}}
  
    {{- print "\n" -}}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  
    {{- if .Config.EnableViewToggle -}}
      
      {{- $source_dir = "js/plugin-bookshelves/" -}}
      {{- $template_name = "bookshelves.js" -}}
      {{- $source = path.Join $source_dir $template_name -}}
      {{- $target = path.Join "assets" $source -}}
      {{- $script := resources.Get $source | resources.ExecuteAsTemplate $target $ -}}
      
      {{- if .Config.MinifyScript }}{{ $script = $script | minify }}{{ end -}}
      {{- if .Config.Fingerprint }}{{ $script = $script | fingerprint }}{{ end -}}  
      
      {{- print "\n" -}}
  <script src="{{ $script.Permalink }}"></script>
    {{- end -}}
  
  {{- end -}}
    
{{ end -}}