/* List View */

div.bookshelf-books.list-view {
  margin: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
}

div.bookshelf-books.list-view > div.bookshelf-book {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*
div.bookshelf-books.list-view > div.bookshelf-book > a.bookshelf-book-link {
  
}
*/

/*
div.bookshelf-books.list-view > div.bookshelf-book > a.bookshelf-book-link > img.bookshelf-book-cover {
  
}
*/

/*
div.bookshelf-books.list-view > div.bookshelf-book > div.bookshelf-book-title-author {
  
}
*/

/* Grid View */

div.bookshelf-books.grid-view {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

/*
div.bookshelf-books.grid-view > div.bookshelf-book {
  
}
*/

/*
div.bookshelf-books.grid-view > div.bookshelf-book > a.bookshelf-book-link {
  
}
*/

/*
div.bookshelf-books.grid-view > div.bookshelf-book > a.bookshelf-book-link > img.bookshelf-book-cover {
  
}
*/

div.bookshelf-books.grid-view > div.bookshelf-book > div.bookshelf-book-title-author {
  display: none;
}

/* Buttons */

div#bookshelves-button-container-wrapper {
  display: flex;
  justify-content: center;
  gap: 0;
 padding: 0;
 margin: 0;
 align-content: stretch;
}

div#bookshelves-button-container {
  border: 0.1em solid hsl(223, 26%, 43%);
  outline: none;
  padding: 0;
  margin:0;
  background-color: #FFF;
  border-radius: 1em;
  color: #1E2025;
  font-size: 0.8rem;
  cursor: pointer;
}

div#bookshelves-button-container > button.button {
  padding: 0 1em;
  margin: 0;
  background-color: #FFF;
  color: #1E2025;
  height: 100%;
  font-size: 0.8rem;
}
  
div#bookshelves-button-container > button#list-view {
  border-radius: 1em 0 0 1em;
}

div#bookshelves-button-container > button#grid-view {
    border-radius: 0 1em 1em 0;
}

/* Change this hover color to match your theme color */
div#bookshelves-button-container > button.button:hover {
  background-color: hsl(223, 26%, 43%);
  color: #DDD;
}

div#bookshelves-button-container > button.button.active {
  background-color: #1E2025;
  color: #FFF;
  }
  
/* Button Text */
/*div#bookshelves-button-container > button.button > span.button-text {
  display: none;
}*/