{{- $cover_width := site.Params.bookshelves_cover_width | default 100 | int }}
<div class="bookshelf-book">
  <a 
    class="bookshelf-book-link" 
    href="https://micro.blog/books/{{ .isbn }}">
    <img 
      class="bookshelf-book-cover"
      src="https://micro.blog/photos/{{ $cover_width }}x/{{ .cover_url }}"
      align="left" />
  </a>
  <div class="bookshelf-book-title-author">
  <span class="bookshelf-book-title">{{ .title }}</span>
{{- with .author }}
  <br /><span class="bookshelf-book-author">by {{.}}</span>
{{- end }}
  </div>
 </div> 