{{ define "main" }}
<section id="wrapper">
<article class="h-entry post">
<section class="e-content post-body">

{{ with site.Params.bookshelves_data_json }}
  {{ with transform.Unmarshal . }}
    {{ range $bookshelf, $description := . }}
    
<p class="bookshelf-description">{{ $description | markdownify }}</p>
<div class="bookshelf-books">
      {{ range index site.Data.bookshelves $bookshelf }}

{{ partial "book.html" . }}

      {{ end }}
</div>

    {{ end }}
  {{ end }}

{{ else }}
  
 {{ range $bookshelf_key, $bookshelf := site.Data.bookshelves }}
 
<h1 class="bookshelf-key">{{ $bookshelf_key }}</h1>
<div class="bookshelf-books">
  {{ range $bookshelf }}
  
{{ partial "book.html" . }}  
  
  {{ end }}
</div>

 {{ end }}

{{ end }}

</section>
</article>
</section>

{{ end }}